<p style="margin-top: 100px">
<b>This post is part of the blog post series "Reactive Apps with Model-View-Intent".<br />Here is the Table of Content:</b>
<ul>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-1">Part 1: Model</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-2">Part 2: View and Intent</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-3">Part 3: State Reducer</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-4">Part 4: Independent UI Components</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-5">Part 5: Debugging with ease</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-6">Part 6: Restoring State</a></li>
    <li><a href="http://hannesdorfmann.com/android/mosby3-mvi-7">Part 7: Timing (SingleLiveEvent problem)</a></li>
</ul>
</p>
