<h2 id="design-patterns">Design Pattern Index</h2>
Here is a list of all design patterns that are covered in this series of post about android design patterns:
<ul>
  <li><h4>Structural Patterns</h4>
    <ul>
      <li><a href="http://hannesdorfmann.com/android-design-patterns/adapter/">Adapter</a></li>
    </ul>
  </li>

  <li><h4>Behavioural Patterns</h4>
    <ul>
      <li><a href="http://hannesdorfmann.com/android-design-patterns/strategy/">Strategy</a></li>
    </ul>
  </li>

  <li><h4>Behavioural Patterns</h4>
    <ul>
    </ul>
  </li>

</ul>
